<!-- <app-setting></app-setting>
<app-dashboard></app-dashboard> -->

<body class="bg">
    <nav>
   
        <app-menu></app-menu>
        <br>
        <!-- <app-topbar></app-topbar> -->
       <!--  <app-rightblog></app-rightbox> -->
        <!-- <a routerLink='dashboard'>Dashboard</a><br>
        <a routerLink='setting'>Setting</a><br> -->
       <!--  <a routerLink='setting'>Setting</a><br> -->
    </nav>
</body>

<!-- <div class="container">



    </div> -->

<router-outlet></router-outlet>