<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<div class="topnav" id="myTopnav">
  <li style="float:left">

    <select id="selector1" style="font-size: 50px">

      <option value="0">dlog1</option>
      <option value="1">dlog2</option>
      <option value="2">dlog3</option>
      <option value="3">dlog4</option>

    </select>
  </li>
  <label id="dlog_show"> </label>
  <label style="color:black"> STATUS : </label>
  <label style="color:green" id="status_show"> </label>
  <br>
  <label style="color:black" id="dlog_name"> </label>
  <a style="float:left" type="submit" class="lato_font"></a>

</div>
<div class="container">

  <div class="container-1">
    <label>RELAY COnfig</label>
    <label class="warning_text" id="warning_text"> </label>
    <div class="cont1-sub1">
      <label>RELAY1 </label>
      <br>

      <div id='bg_rst1' class="buttonHolder-rst">
        <button id='rst1' class="button-rst restart" ></button>
        <br>
      </div>
      <div id='bg_r1' class="buttonHolder" >
        <button id='r1' class="button on" ></button>
      </div>

    </div>

    <div class="cont1-sub1" style="left :166px">
      <label>RELAY2</label>
      <br>
      <div id='bg_rst2' class="buttonHolder-rst">
        <button id='rst2' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r2' class="buttonHolder">
        <button id='r2' class="button on"></button>
      </div>

    </div>
    <div class="cont1-sub1" style="left :324px">
      <label>RELAY3</label>
      <br>
      <div id='bg_rst3' class="buttonHolder-rst">
        <button id='rst3' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r3' class="buttonHolder">
        <button id='r3' class="button on"></button>
      </div>


    </div>
    <div class="cont1-sub1" style="left :482px">
      <label>RELAY4</label>
      <br>

      <div id='bg_rst4' class="buttonHolder-rst">
        <button id='rst4' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r4' class="buttonHolder">
        <button id='r4' class="button on"></button>
      </div>

    </div>
    <div class="cont1-sub1" style="top :190px">
      <label>RELAY5</label>
      <br>

      <div id='bg_rst5' class="buttonHolder-rst">
        <button id='rst5' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r5' class="buttonHolder">
        <button id='r5' class="button on"></button>
      </div>

    </div>
    <div class="cont1-sub1" style="top :190px;left:166px ">
      <label>RELAY6</label>
      <br>

      <div id='bg_rst6' class="buttonHolder-rst">
        <button id='rst6' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r6' class="buttonHolder">
        <button id='r6' class="button on"></button>
      </div>

    </div>
    <div class="cont1-sub1" style="top :190px;left:324px ">
      <label>RELAY7</label>
      <br>

      <div id='bg_rst7' class="buttonHolder-rst">
        <button id='rst7' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r7' class="buttonHolder">
        <button id='r7' class="button on"></button>
      </div>

    </div>
    <div class="cont1-sub1" style="top :190px;left:482px ">
      <label>RELAY8</label>
      <br>

      <div id='bg_rst8' class="buttonHolder-rst">
        <button id='rst8' class="button-rst restart"></button>
        <br>
      </div>

      <div id='bg_r8' class="buttonHolder">
        <button id='r8' class="button on"></button>
      </div>

    </div>

    <button mat-raised-button style="top:50px" id="r_rst">RESET (ALL)</button>
    <button mat-raised-button style="top:150px;background-color:green;" id="r_on"> ON (ALL)</button>
    <button mat-raised-button style="top:250px;background-color:rgb(255, 51, 15);" id="r_off">OFF (ALL)</button>
  </div>

  <div class="container-2">
  
    <img src="../../../assets/images/temp.png" style="width:120px;height:120px;">

    <label id="temp" style="position:absolute; font-size: 50px"></label>


    <canvas style="position: absolute;;left :0px;top: 100px;" id="myChart" width="150" height="150"></canvas>
    

  </div>

  <div class="container-3">

    
    <canvas style="position: absolute;;left :0px;top: 20px;" id="myChart_tmp" width="80" height="50"></canvas>
    <button id="tmpbar_test">CLICK</button>
  </div>

  <div class="container_tempbar">  <canvas style="position: absolute;" id="Chart_tempbar"></canvas></div>

  <div class="container-4">

    <label id="vdc1"> </label> 
    <br>
    <label id="vdc2"></label> 
    <br>
    <label id="vac1"> </label>
    <br>
    <div class="chart-container" style="position:absolute;height:300px;width:800px;background-color: rgb(223, 142, 142)">
      <canvas style="position: absolute;" id="myChart_vdc"></canvas>

    
  </div>
  


</div>