<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
      <div class="topnav" id="myTopnav">
          <li style="float:left">

              <select id="selector1" style="font-size: 50px" >

                  <option value="dlog1">dlog1</option>
                  <option value="dlog2">dlog2</option>
                  <option value="dlog3">dlog3</option>
                  <option value="dlog4">dlog4</option>
      
                </select>
      </li>
        <label>DLOG 1 STATUS : </label>
        <label style="color:green">{{status}} </label>
          <a style="float:left" type="submit" class="lato_font"></a>
          
     </div>     
  </ul>