<div class="container">

  <div class="container-1">
    <div class="cont1-sub1">

      <label class="topic">CONFIGULATION</label>


    </div>



    <div class="cont1-sub2">
      <div class="grid-container">
        <label class='item1'>CENTER NUMBER</label>
        <div class='item2'>
          <input class="input" type="text" id="text0" maxlength="10" placeholder="01234567890" value="" onkeypress='validNum(event)'
          />
        </div>
        <br>
        <label class='item1'>CENTER NUMBER</label>
      <div class='item2'>
        <input class="input" type="text" id="text0" maxlength="10" placeholder="01234567890" value="" onkeypress='validNum(event)'/>
      </div>
      <br>
      </div>
    </div>

  </div>
</div>